{% extends "components/navbar.html" %}
<html>
{% block content %}

<body>
    <h1 style="text-align: center">
        Category
    </h1>

    <div class="card-container">
        {% for category in categories %}
        <div class="card" style="margin-right: 30px;">
            <div class="card-body">
                <h5 style="text-align: center" class="card-title">{{ category.category_name }}</h5>
                <p style="text-align: center" class="card-text">{{ category.description }}</p>
                <p style="text-align: center">Created: {{ category.created }}</p>
                <p style="text-align: center">Updated: {{ category.updated }}</p>
                <a href="/categories/{{ category.id }}/products" class="btn btn-primary">View</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-left: 20px;
            margin-top: 20px;
        }

        .card {
            background-color: gray;
            margin-bottom: 20px;
            flex: 0 0 calc(50% - 30px);
        }
    </style>
</body>
</html>
{% endblock %}
