{% extends "components/navbar.html" %}
{% load static %}
<html>
{% block content %}

<body>
    <form action="" method="get" style="margin-left: 20px; margin-top: 20px;">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
    </form>

    <h4 style="margin-left: 20px;">
        Sort by
    </h4>

    <a href="?sort=created&order=asc" class="btn btn-secondary" style="margin-left: 20px;">Newest</a>
    <a href="?sort=created  &order=desc" class="btn btn-secondary">Oldest</a>
    <h1 style="text-align: center">
        Products
    </h1>

    <div class="card-container">
        {% for product in products %}
        <div class="card" style="margin-right: 30px;">
            {% if product.image %}
                <img src="/media/{{ product.image }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static "empty_image.png" %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 style="text-align: center", class="card-title">Name: {{ product.product_name }}</h5>
                <p style="text-align: center", class="card-text">Description: {{ product.description }}</p>
                <p style="text-align: center", class="card-text">Author: {{ product.author }}</p>
                <p style="text-align: center">Created: {{ product.created }}</p>
                <p style="text-align: center">Updated: {{ product.updated }}</p>
                <a href="/categories/{{ product.category.id }}/products/{{ product.id }}" class="btn btn-primary">View</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-left: 20px;
            margin-top: 20px;
        }

        .card {
            background-color: gray;
            margin-bottom: 20px;
            flex: 0 0 calc(25% - 30px);
        }
    </style>

    <h4 style="margin-left: 20px;">
        Pages 
    </h4>
    <div style="margin-left: 20px; margin-right: 20px;">
        {% for page in pages %}
            <a href="?page={{ page }}" class="btn btn-secondary" style="display: inline-block; margin-right: 5px;">{{ page }}</a>
        {% endfor %}
    </div>
    
</body>
</html>
{% endblock %}
