{% extends "components/navbar.html" %}
<html>
{% block content %}
<body>
    <h1>
        Products
    </h1>

    {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.product_name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p>Created: {{ product.created }}</p>
                <p>Updated: {{ product.updated }}</p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>  
    {% endfor %}
</body>
</html>
{% endblock %}